<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="color-scheme" content="light">
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    
    <!-- FoodMart Theme CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Admin/style.css" asp-append-version="true"/>
    
    <!-- Iconify Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/3.1.1/iconify.min.js"></script>
    
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        @* @await Component.InvokeAsync("Header") *@
        @Html.Partial("~/Views/Admin/_Header.cshtml")
        @Html.Partial("~/Views/Admin/_Sidebar.cshtml")
        
        @* @await Component.InvokeAsync("") *@
        @Html.Partial("~/Views/Admin/AdminSvgComponents.cshtml")
        <div class="col-md-9 col-lg-10">
            <div class="main-content p-4 fade-in">
                @await Component.InvokeAsync("QuickActions")
                @RenderBody()
            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="Admin/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>